openapi: 3.0.0
info:
  version: 1.2.0
  title: Meetings API
  description: >-
    Returns a list of meetings that belong to the mailbox calendar associated with the video system making the request.

servers:
  - url: https://otj.pexip.io
security:
  - bearerAuth: []

paths:
  /v1/meetings:
    get:
      tags:
        - meetings
      description: Get the next meetings for the video system's registered mailbox calendar, ordered by the soonest start time.
      parameters:
        - $ref: "#/components/parameters/x-trackingid"
        - $ref: "#/components/parameters/user-agent"
        - $ref: "#/components/parameters/startTime"
        - $ref: "#/components/parameters/endTime"
        - $ref: "#/components/parameters/limit"

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: "#/components/schemas/Meta"
                  meetings:
                    $ref: "#/components/schemas/Meetings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Generate an access token using the [OTJ Token API](https://developer.pexip.com/cloud-one-touch-join/token-api).

  responses:
    Unauthorized:
      description: The request was missing or supplied an invalid/expired bearer token
    NotFound:
      description: No associated mailbox was found for the requested video system
    TooManyRequests:
      description: The client has made too many requests and has been throttled
    InternalServerError:
      description: An unexpected server error occurred while processing the request
    ServiceUnavailable:
      description: The server is too busy to handle the request

  schemas:
    Meeting:
      type: object
      properties:
        id:
          description: The meeting ID associated with this meeting.
          type: string
          example: MSpkYzE3Njc0Yy04MWQ5LTRhZGItYmZiMi04ZdFpHRTNaR1F6WGhyZWFkLnYy
        subject:
          description: The subject of the meeting.
          type: string
          example: My important meeting
        organizerName:
          description: The meeting organizer's full name.
          type: string
          example: Example user
        organizerEmail:
          description: The meeting organizer's email address.
          type: string
          format: email
          example: "example.user@example.com"
        startTime:
          description: The start time of the meeting in RFC-3339 format.
          type: string
          format: date-time
          example: "2021-12-21T09:00:00Z"
        endTime:
          description: The end time of the meeting in RFC-3339 format.
          type: string
          format: date-time
          example: "2021-12-21T10:00:00Z"
        alias:
          description: The alias that can be used to join video enabled meetings.
          type: string
          example: name@example.com

    Meetings:
      type: array
      items:
        $ref: "#/components/schemas/Meeting"

    Meta:
      type: object
      properties:
        count:
          type: integer
          example: 1
          description: A count of the number of meetings contained in the response.

  parameters:
    x-trackingid:
      name: x-trackingid
      in: header
      description: A recommended tracking ID that can be supplied to Pexip support to troubleshoot a request.
      schema:
        type: string
        format: uuid
        example: 26e04808-c886-4a1f-be37-7c62400e6baa

    user-agent:
      name: user-agent
      in: header
      description: A recommended User Agent that can be used by Pexip to identify the client sending the request.
      schema:
        type: string
        example: ProductName/1.0 (EndpointType; EndpointSoftwareVersion)

    startTime:
      name: startTime
      in: query
      description: Optionally filters the meetings contained in the response. Must be used in conjunction with `endTime`. Requires an RFC-3339 formatted date-time.
      schema:
        type: string
        format: date-time

    endTime:
      name: endTime
      in: query
      description: Optionally filters the meetings contained in the response. Must be used in conjunction with `startTime`. Requires an RFC-3339 formatted date-time.
      schema:
        type: string
        format: date-time

    limit:
      name: limit
      in: query
      description: Optionally limits how many many meetings can be contained in the response.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
