openapi: 3.0.0
info:
  version: 1.0.0
  title: One-Touch Join Meetings API
  description: >-
    Returns a list of meetings that belong to the mailbox calendar associated with the video system making the request.
    A maximum of the next 10 meetings are returned. 

servers:
  - url: https://otj.pexip.io
security:
  - bearerAuth: []

paths:
  /v1/meetings:
    get:
      tags:
        - meetings
      description: Get the next 10 meetings for the video system's registered mailbox calendar.
      parameters:
        - $ref: "components.yaml#/components/parameters/x-trackingid"
        - $ref: "components.yaml#/components/parameters/user-agent"

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: "#/components/schemas/Meta"
                  meetings:
                    $ref: "#/components/schemas/Meetings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Use the Auth token endpoint API to generate bearer tokens.

  responses:
    Unauthorized:
      description: The request was missing or supplied an invalid bearer token
    NotFound:
      description: No videosystem was found for the request's subject (Client ID)
    TooManyRequests:
      description: The client has made too many requests and has been throttled
    InternalServerError:
      description: An unexpected server error occurred while processing the request
    ServiceUnavailable:
      description: The server is too busy to handle the request

  schemas:
    Meeting:
      type: object
      properties:
        id:
          description: The meeting ID associated with this meeting.
          type: string
          example: MSpkYzE3Njc0Yy04MWQ5LTRhZGItYmZiMi04ZdFpHRTNaR1F6WGhyZWFkLnYy
        subject:
          description: The subject of the meeting.
          type: string
          maxLength: 200
          example: My important meeting
        organizerName:
          description: The meeting organizer's full name.
          type: string
          maxLength: 200
          example: Andy Carroll
        startTime:
          description: The start time of the meeting.
          type: string
          format: date-time
          example: "2021-12-21T09:00:00"
        endTime:
          description: The end time of the meeting.
          type: string
          format: date-time
          example: "2021-12-12T10:00:00"
        alias:
          description: The alias that can be used to join video enabled meetings.
          type: string
          example: name@example.com

    Meetings:
      type: array
      items:
        $ref: "#/components/schemas/Meeting"

    Meta:
      type: object
      properties:
        count:
          type: integer
          example: 1
          description: A count of the number of meetings contained in the response.
