openapi: 3.0.0
info:
  version: 1.0.0
  title: Token API
  description: >
    An API for generating access tokens for the [OTJ Meetings API](https://developer.pexip.com/cloud-one-touch-join/meetings-api).

servers:
  - url: https://auth.otj.pexip.io
security:
  - basicAuth: []

paths:
  /oauth/token:
    post:
      summary: Get an access token
      tags:
        - token
      parameters:
        - $ref: "#/components/parameters/x-trackingid"
        - $ref: "#/components/parameters/user-agent"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  description: Type of oauth flow. Only client_credentials is supported.
                  default: client_credentials

      responses:
        "200":
          description: Success response containing the access token and associated metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Unauthorized

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Base64 encoded string of clientID:clientSecret, where the client ID and client secret are configured in the Pexip Control Center.

  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          description: Access token
          type: string
        token_type:
            description: Type of access token
            type: string
            enum:
              - "bearer"
        expires_in:
          description: Number of seconds the token is valid for
          type: integer
          example: 3600

  parameters:
    x-trackingid:
      name: x-trackingid
      in: header
      description: A recommended tracking ID that can be supplied to Pexip support to troubleshoot a request.
      schema:
        type: string
        format: uuid
        example: 26e04808-c886-4a1f-be37-7c62400e6baa

    user-agent:
      name: user-agent
      in: header
      description: A recommended User Agent that can be used by Pexip to identify the client sending the request.
      schema:
        type: string
        example: ProductName/1.0 (EndpointType; EndpointSoftwareVersion)
